@charset "utf-8";
body{
	background-color: burlywood
}
h1{
    color: black;
    font-size: 85px;
    font-family: "Gill Sans", "Gill Sans MT", Myriad Pro, "DejaVu Sans Condensed", "Helvetica, Arial", "sans-serif"
		}
		h2{
	color: saddlebrown;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
		
}
p{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
li{
	font-family: Gill Sans, "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica, Arial", "sans-serif"
}
/* unvisited link */
a:link {
  color: orangered;
}
