@charset "utf-8";
/* CSS Document */
body{
	background-color: mediumpurple
}
h1{
	font-size: 95px;
	font-family: "Gill Sans"
}
h1{
	color: floralwhite
}
p{
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
h2{
	font-size: 35px;
	
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
h2{
		font-weight: bold
}